// color
$lightgreen: #f0f5e1;
$grassgreen: #96c519;
$green: #1b9240;
$mossgreen: #468459;
$darkgreen: #0c4324;
$white: #fff;
$black: #000;

// メディア
@mixin pc {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin ta {
  @media screen and (max-width: 970px) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: 767px) {
    @content;
  }
}


@mixin mvta {
  @media screen and (max-width: 767px) and (min-width: 450px) {
    @content;
  }
}

.pcview {
  @include sp {
    display: none;
  }
}

.spview {
  @include pc {
    display: none;
  }
}

@mixin noto {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

@mixin merri {
  font-family: 'Merriweather Sans', sans-serif;
}

@mixin shippori {
  font-family: 'Shippori Mincho', serif;
}

@mixin kv {
  height: 400px;
  position: relative;
  overflow: hidden;

  @include sp {
    height: 360px;
  }

  &__txt {
    position: absolute;
    top: 9.625rem;
    left: unset;
    width: 23.4%;

    @include sp {
      top: 16.25rem;
      width: 100%;
    }

    &__wrap {
      display: block;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(../image/mv_textbg_page.png);
        background-size: contain;
        background-repeat: no-repeat;
        top: -3.5rem;
        left: 1rem;
        z-index: -1;
        width: 13rem;
        height: 13rem;

        @include sp {
          top: -2rem;
          left: -1rem;
          z-index: -1;
          width: 9rem;
          height: 9rem;
        }
      }

      &::after {
        display: none;
      }

      & h2 {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.89rem;
        color: $mossgreen;
        margin-bottom: 2px;
        position: relative;
        left: 22.3%;

        @include sp {
          font-size: 1.75rem;
          line-height: 2.53rem;
          margin-bottom: 4px;
          left: 1.187rem;
        }
      }

      & p {
        @include noto;
        color: $mossgreen;
        font-size: 1.125rem;
        line-height: 1.125rem;
        letter-spacing: unset;
        padding: unset;
        text-decoration: underline dashed $mossgreen 1px;
        text-underline-offset: 10px;
        position: relative;
        left: 21.3%;

        @include sp {
          font-size: 1rem;
          line-height: 1rem;
          left: 1rem;
        }
      }
    }
  }

  &__wrap {
    &::after {
      content: "";
      left: 21vw;
      position: absolute;
      background: url(../image/mv_bg_page.png);
      width: 616px;
      height: 414px;
      background-repeat: no-repeat;
      top: 0;
      z-index: -1;

      @include sp {
        content: "";
        left: 3.75vw;
        position: absolute;
        background: url(../image/mv_bg_page_sp.png);
        width: 308px;
        height: 264px;
        background-repeat: no-repeat;
        top: 0;
        z-index: -1;
      }
    }

    @include sp {
      height: 300px;
      position: relative;
      overflow: hidden;
    }
  }

  &__img {
    position: absolute;
    width: 103.8%;
    height: 318%;
    background-repeat: no-repeat;
    border-radius: 50%;
    top: -104%;
    left: 23.4vw;
    background-position: left;
    background-size: contain;
    background-image: url(../image/mv_about.png);

    &::before {
      display: block;
      content: "";
      padding-top: 100%;
    }

    @include sp {
      width: 158.5%;
      height: unset;
      top: unset;
      bottom: 0;
      left: 11.8vw;
      background-image: url(../image/mv_about_sp.png);
    }
  }
}

.keyvisual {
  &-about {
    @include kv;
  }

  &-price {
    @include kv;

    &__img {
      background-image: url(../image/mv_courseprice.png);

      @include sp {
        background-image: url(../image/mv_courseprise_sp.png);
      }
    }
  }

  &-news {
    @include kv;

    &__img {
      background-image: url(../image/mv_news.png);

      @include sp {
        background-image: url(../image/mv_news_sp.png);
      }
    }
  }

  &-voice {
    @include kv;

    &__img {
      background-image: url(../image/mv_voice.png);

      @include sp {
        background-image: url(../image/mv_voice_sp.png);
      }
    }
  }

  &-contact {
    @include kv;

    &__img {
      background-image: url(../image/mv_contact.png);

      @include sp {
        background-image: url(../image/mv_contact_sp.png);
      }
    }
  }

}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.head1 {
  h2 {
    @include noto;
    font-weight: 700;
    font-size: 24px;
    color: $mossgreen;
    display: inline-block;
    line-height: 24px;
  }

  & p {
    font-weight: 400;
    font-size: 18px;
    padding-left: 10px;
    color: $mossgreen;
    display: inline-block;
  }

  &.symbol {
    margin-bottom: 2rem;

    & h2 {
      display: block;
      margin-bottom: 9.5px;

      &::before {
        content: url(../image/Head_01_Icon.png);
        margin-right: 4px;
        width: 22px;
        height: 20px;
        display: inline-block;
      }
    }

    & p {
      padding-left: 0;
      color: $mossgreen;
      font-size: 24px;
      display: unset;
      line-height: 24px;

      @include sp {
        font-size: 1.125rem;
        line-height: 1.125rem;
      }
    }
  }
}

.head2 {
  margin: 0 auto;

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: $mossgreen;
    display: flex;
    justify-content: center;
    gap: 1.125rem;
    margin-bottom: 20px;
    align-items: center;

    @include sp {
      font-size: 1.125rem;
      line-height: 1.125rem;
    }

    &::before,
    &::after {
      width: 1rem;
      height: 1.5rem;

      @include sp {
        width: 0.875rem;
        height: 1.375rem;
      }
    }

    &::before {
      content: url(../image/Head_02_DecoLeft16.png);

      @include sp {
        content: url(../image/Head_02_DecoLeft14.png);
      }
    }

    &::after {
      content: url(../image/Head_02_DecoRight16.png);

      @include sp {
        content: url(../image/Head_02_DecoRight14.png);
      }
    }
  }

  p {
    width: 21.475rem;
    text-align: center;
    margin: 0 auto;
    color: $mossgreen;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;

    @include sp {
      width: 88.8%;
      font-size: 1.125rem;
      line-height: 1.4rem;
    }
  }
}

.tag_date {
  background: $mossgreen;
  padding: 2px 16px 3px;
  gap: 10px;
  @include noto;
  color: $white;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 4px;
  display: inline;
}

.btn_arrow {
  font-size: 14px;
  color: $black;
  border: 1px solid $black;
  padding: 0 2rem;
  border-radius: 6px;
  text-align: center;
  height: 2rem;
  display: inline-block;
  margin-bottom: 4px;
  line-height: 2rem;
  z-index: 1;
  position: relative;

  @include sp {
    padding: 0 1.66rem;
  }
}

.btn_green {
  display: block;
  width: 300px;
  text-align: center;
  background: $green;
  color: $white;
  font-weight: 700;
  line-height: 1.448rem;
  padding: 15px 0;
  border-radius: 4px;

  @include sp {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.26rem;
    padding: 0.875rem 0;
  }
}

// 本文

body {
  @include noto;
}

.modal {
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: 0.8s;

  &.clicked {
    display: block;
    transition: 0.8s;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  &.page {
    position: relative;

    & .header__wrap {
      &__menu {
        &__nav {
          & ul {
            & li {
              text-shadow: unset;
              color: $mossgreen;
            }
          }
        }
      }
    }
  }

  &__pcview {
    @media screen and (max-width: 950px) {
      display: none;
    }
  }

  &__spview {
    @media screen and (min-width: 951px) {
      display: none;
    }
  }

  &__wrap {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      margin-left: 3.6%;
      width: 18.75%;
    }

    &__menu {
      display: flex;
      align-items: center;
      gap: 36px;

      &__nav {
        & ul {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 40px;

          & li {
            font-family: 'Noto Sans JP';
            color: $white;
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.26rem;
            text-shadow: 1px 1px 0px rgba(70, 132, 89, 0.25);
          }
        }
      }

      &__btn {
        width: 172px;
        height: 44px;
        background: $darkgreen;
        border-radius: 4px;
        color: $white;
        font-family: 'Noto Sans JP';
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 32px;

        @include sp {
          width: 100%;
          margin-right: 0;

          &.clicked {
            background: $white;
          }
        }
      }
    }

    &__sp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 10px 0 16px;
      height: 4rem;
      z-index: 1;
      position: relative;

      &.clicked {
        & .header__wrap__sp__logo {
          position: fixed;
        }
      }

      &__menu {
        position: fixed;
        top: 20px;
        right: 10px;

        &__close {
          display: none;
        }

        &.clicked {

          & .header__wrap__sp__menu__close {
            display: block;
          }

          & .header__wrap__sp__menu__default {
            display: none;
          }
        }
      }

      &__nav {
        display: none;
        padding: 6rem 2rem 2rem;
        background: #fff;
        position: fixed;
        width: 100%;
        top: 0;

        & h2 {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 2.17rem;
          color: $darkgreen;
          margin-bottom: 1rem;
        }

        & ul {
          & li {
            line-height: 1.45rem;
            margin-bottom: 2rem;

            &:last-of-type {
              margin-bottom: 2.25rem;
            }
          }
        }
      }
    }
  }
}

.mainvisual {
  position: relative;
  height: 584px;
  overflow: hidden;

  @include sp {
    height: 500px;
  }

  &__txt {
    gap: 10px;
    position: absolute;
    top: 7.375rem;
    left: 7.8%;
    z-index: 1;

    &__wrap {
      writing-mode: vertical-rl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(../image/mv_bg1.png);
        background-size: contain;
        background-repeat: no-repeat;
        top: -2.5rem;
        right: -7rem;
        z-index: -1;
        width: 13rem;
        height: 13rem;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-image: url(../image/mv_bg2.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        bottom: 0.375rem;
        width: 11.6rem;
        height: 11rem;
        right: -1.665rem;

        @include sp {
          bottom: -3.625rem;
          width: 9.6rem;
          height: 10rem;
        }
      }
    }

    & p {
      font-family: 'Shippori Mincho';
      // font-weight: 600;
      font-size: 28px;
      line-height: 41px;
      font-style: normal;
      // font-feature-settings: 'vert' on;
      // letter-spacing: 0.15em;
      letter-spacing: 0.37em;
      padding: 24px 2px;
      color: $mossgreen;
      text-decoration: underline dashed $mossgreen 1px;
      text-underline-offset: 6px;

      @include sp {
        font-size: 1.4rem;
        line-height: 2.03rem;
        padding: 0.95rem 1.6px 1.5rem;
      }
    }
  }

  &__carousel {
    position: absolute;
    right: 0;
    width: 74%;

    &::before {
      content: url(../image/mv_bg3.png);
      position: absolute;
      left: -2rem;

      @include sp {
        content: url(../image/mv_bg3_sp.png);
        position: absolute;
        left: -1.375rem;
      }
    }

    &__wrap {
      & li {
        & img {
          clip-path: ellipse(67.8% 108.9% at 68% 33%);
          width: 100%;
          object-fit: cover;

          @include sp {
            // clip-path: ellipse(117% 59.6% at 117% 44.5%);
            clip-path: ellipse(277.5px 276.5px at 277.5px 207.5px);
            height: 464px;
          }

          @include mvta {
            clip-path: ellipse(555px 553px at 555px 207.5px);
          }
        }
      }
    }

    .slide-dots {
      position: absolute;
      right: 2rem;
      bottom: 2rem;
      width: 5.625rem;
      display: flex;
      justify-content: space-between;
      border-radius: 2px;
      background: $white;

      @include sp {
        width: 3rem;
        right: 1.25rem;
        bottom: 1.43rem;
      }
    }

    .slide-dots li {
      width: 25%;
      height: 6px;
      margin: 0;
      padding: 0;
      cursor: pointer;
      overflow: hidden;


      @include sp {
        height: 4px;

      }
    }

    .slide-dots li button::before {
      content: "";
      width: 100%;
      height: 6px;
      margin: 0;
      padding: 0;
      cursor: pointer;
      background: $white;
      overflow: hidden;
      border-radius: 2px;
      display: block;

      @include sp {
        height: 4px;
      }
    }

    .slide-dots li.slick-active button#slick-slide-control00::before,
    .slide-dots li.slick-active button#slick-slide-control10::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25%;
      height: 100%;
      background-color: $mossgreen;
      z-index: 3;
    }

    .slide-dots li.slick-active button#slick-slide-control01::before,
    .slide-dots li.slick-active button#slick-slide-control11::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: $mossgreen;
      z-index: 3;
    }

    .slide-dots li.slick-active button#slick-slide-control02::before,
    .slide-dots li.slick-active button#slick-slide-control12::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 75%;
      height: 100%;
      background-color: $mossgreen;
      z-index: 3;
    }

    .slide-dots li.slick-active button#slick-slide-control03::before,
    .slide-dots li.slick-active button#slick-slide-control13::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $mossgreen;
      z-index: 3;
    }

  }
}

.news {
  @include ta {
    margin-bottom: 3.25rem;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin: 0 96px 0 100px;

    @include ta {
      height: unset;
      width: 90%;
      margin: 0 auto;
      display: block;
    }

    @include ta {
      &__headline {
        margin-bottom: 20px;
      }
    }

    &__detail {
      display: flex;
      align-items: center;
      gap: 28px;

      @include ta {
        display: unset;
      }

      &__info {
        display: flex;
        align-items: center;

        @include ta {
          display: inline-block;
          width: 31.25%;
        }

        &__date,
        &__category {
          display: inline-block;

          @include ta {
            display: block;
          }
        }

        &__date {
          font-size: 16px;

          @include pc {
            margin-right: 0.4rem;
          }

          @include ta {
            margin-bottom: 4px;
          }
        }
      }

      &__title {
        @include ta {
          display: inline-block;
          width: 59.02%;
        }
      }

      &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include pc {
          gap: 1.75rem;
        }

        @include ta {
          margin-bottom: 20px;
        }
      }
    }

    &__tolist {
      padding: 3px 23px;

      @include ta {
        font-size: 14px;
        color: $darkgreen;
        text-align: right;
        margin-right: 1.43rem;
        padding: unset;
      }
    }
  }
}



.concept {
  margin: 7.5rem 0 16.375rem;
  position: relative;
  overflow-x: clip;

  &.page {
    margin: 7.5rem 0 8rem;

    @include sp {
      padding: unset;
      margin: 3.25rem 0 0;
    }
  }

  @include sp {
    padding: unset;
    padding-bottom: 3.65rem;
    margin: 3.25rem 0 4.77rem;

    &.page {
      &::after {
        width: 20rem;
        height: 15.27rem;
        top: unset;
        bottom: -4.46rem;
        right: -6.625rem;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 27.5rem;
    height: 21rem;
    right: -3.56rem;
    bottom: -6.75rem;
    background-image: url(../image/BGicon_Light.png);
    background-size: contain;
    display: block;

    @include sp {
      width: 15rem;
      height: 11.43rem;
      top: unset;
      bottom: 0.56rem;
      right: -5.375rem;

    }
  }

  &__wrap {
    margin: 0 auto;
    // width: 64.5%;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    position: relative;
    left: 20.1%;

    @include sp {
      width: 90%;
      display: block;
      position: unset;
    }

    &__img {
      // width: 52.6%;
      margin: 2.875rem 0 0 3.75rem;


      @include sp {
        width: 100%;
        margin: 3rem 0 0.5rem;
      }
    }

    &__content {
      width: 25%;

      @include sp {
        width: 100%;
      }

      &__subtitle {
        font-weight: 700;
        font-size: 2rem;
        line-height: 3.375rem;
        color: $mossgreen;
        margin-bottom: 2.375rem;
        position: relative;

        @include sp {
          font-size: 1.5rem;
          line-height: 2.75rem;
          margin-bottom: 2rem;
        }

        &::before {
          content: "Concept";
          opacity: 0.25;
          color: #DAE2C2;
          font-family: "Merriweather Sans", sans-serif;
          position: absolute;
          font-size: 8.37rem;
          z-index: -1;
          left: -8.31rem;
          font-weight: 400;
          line-height: 8.37rem;
          top: -0.56rem;

          @include sp {
            font-size: 4.5rem;
            left: -2.5rem;
            top: -6.56rem;
            line-height: 4.5rem;
          }
        }
      }

      &__des {
        font-size: 1rem;
        margin-bottom: 1.5rem;
        line-height: 22.5px;

        @include sp {
          margin-bottom: 2.06rem;
        }

        & p {
          margin-bottom: 1.4rem;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      &__btn {
        text-align: right;

        @include sp {
          text-align: center;
        }
      }
    }
  }
}

.page .concept__wrap__content__des {
  margin-bottom: 3.81rem;

  @include sp {
    margin-bottom: 6.06rem;
  }
}

.course {
  background: #F0F5E1;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../image/course_bg2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    left: 0;
    top: -6.93rem;
    z-index: -1;

    @include sp {
      top: -4.77rem;
      height: 4rem;
    }
  }

  &__headline {
    margin-bottom: 4rem;

    @include sp {
      width: 90%;
      margin: 1.01rem auto 2.5rem;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url(../image/course_bg.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      left: 0;
      top: -5.56rem;
      z-index: -1;

      @include sp {
        height: 4.46rem;
        top: -4.46rem;
      }
    }
  }

  &__wrap {
    padding-bottom: 167px;
    position: relative;
    overflow-x: clip;

    @include sp {
      padding-bottom: 3.66rem;
    }

    &::before {
      content: "Course";
      color: #E7EDD4;
      font-family: "Merriweather Sans", sans-serif;
      position: absolute;
      font-size: 8.37rem;
      left: 7rem;
      font-weight: 400;
      line-height: 8.37rem;
      top: -3.23rem;

      @include sp {
        font-size: 4.5rem;
        line-height: 4.5rem;
        top: -3.7rem;
        left: -1.25rem;
      }
    }

    &::after {
      content: "";
      display: block;
      background-image: url(../image/BGicon_Green.png);
      background-size: contain;
      width: 27.5rem;
      height: 21rem;
      position: absolute;
      right: -6.19rem;
      bottom: 3.61rem;

      @include sp {
        width: 15rem;
        height: 11.43rem;
        right: -3.75rem;
        bottom: 1.06rem;
      }
    }

    &__contents {
      margin: 0 auto;
      width: 62.5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;
      position: relative;

      @include sp {
        display: block;
        width: 90%;
      }

      &__block {
        width: 45%;

        @include sp {
          width: 100%;
          margin-bottom: 2.5rem;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        &__img {
          margin-bottom: 2rem;

          & img {
            border-radius: 24px;

            @include sp {
              max-height: 13.75rem;
              object-fit: cover;
            }
          }
        }

        &__subtitle {
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          color: $darkgreen;
          margin-bottom: 24px;
        }

        &__list {
          margin-left: 16px;

          & ul {
            & li {
              font-size: 18px;
              line-height: 26.06px;
              padding-bottom: 13px;

              &:last-of-type {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }

    &__btn {
      text-align: center;
    }
  }
}

.voice {
  &__wrap {
    position: relative;
    margin-bottom: 11.875em;

    @include sp {
      margin-bottom: 5rem;
    }

    &__headslide {
      & img {
        width: 100%;
        object-fit: cover;
        height: 20rem;
      }
    }

    &__headline {
      @include sp {
        margin: 0 auto;
        width: 90%;
      }

      &::before {
        content: "";
        width: 46.875%;
        height: 50.5%;
        border-radius: 50%;
        background: $white;
        position: absolute;
        top: 12.56rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;

        @include sp {
          width: 79%;
          height: 12.85rem;
          top: 16.19rem;
        }
      }

      & .head2 {
        position: relative;
        z-index: 1;
        top: -2.875rem;

        @include sp {
          top: -1.43rem;
          margin-bottom: 10px;
        }

        & h2 {
          margin-bottom: 2rem;
        }
      }
    }

    &__contents {
      width: 68.7%;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      margin-bottom: 3rem;

      @include sp {
        width: 80%;
      }

      &__img {
        text-align: center;
      }

      & ul {
        display: flex;
        justify-content: space-between;

        @include sp {
          display: block;
        }

        & li {
          width: 29.15%;

          @include sp {
            width: 100%;
            margin-bottom: 3rem;
          }

          & img {
            border-radius: 50%;
            margin-bottom: 2rem;
            text-align: center;
            border: 2px solid #ddd;

            @include sp {
              width: 62.5%;
              margin-bottom: 1.25rem;
            }
          }

          & h3 {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            color: $darkgreen;
            margin-bottom: 1.5rem;
          }

          & p {
            font-size: 1.125rem;
            line-height: 1.53rem;

            @include sp {
              text-align: center;
            }
          }
        }
      }

      &__btn {
        text-align: center;
      }
    }
  }
}

.access {
  background: $lightgreen;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../image/access_bg2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 8.25rem;
    top: -8.25rem;

    @include sp {
      background-image: none;
      background-color: #fafafa;
      height: 3rem;
      top: -3rem;
      z-index: -1;
    }
  }

  &__wrap {
    padding-bottom: 3.75rem;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../image/access_bg.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 7.5rem;
      top: -7.5rem;

      @include sp {
        background-image: url(../image/access_bgsp.svg);
        height: 100%;
        z-index: -1;
        top: -2.5rem;
      }
    }

    &__headline {
      padding-top: 20px;
      margin-bottom: 40px;
    }

    &__contents {
      width: 80.1%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      @include sp {
        width: 90%;
        display: block;
      }

      &__text {
        width: 44.7%;

        @include sp {
          width: 100%;
        }

        & h3 {
          font-size: 1.5rem;
          line-height: 33.75px;
          font-weight: 700;
          margin-bottom: 1rem;
          color: $mossgreen;

          @include sp {
            font-size: 1.125rem;
            line-height: 1.58rem;
          }
        }

        & p {
          line-height: 1.4rem;
          margin-bottom: 1rem;
          font-size: 1rem;
        }

        &-green {
          & p {
            color: $mossgreen;
            font-weight: 700;
            line-height: 2.11rem;
            font-size: 1.5rem;

            & span {
              font-size: 1rem;
              line-height: 1.4rem;
            }
          }
        }

        &__table {
          width: 100%;
          table-layout: fixed;
          font-size: 0.875rem;
          text-align: center;
          border: 1px solid #ddd;
          border-collapse: separate;
          border-spacing: 0;
          border-radius: 6px;
          margin-bottom: 2rem;

          @include sp {
            font-size: 0.625rem;
            margin-bottom: 1.5rem;
          }

          & tr {
            background: $white;

            &.second {
              background: #f6f6f6;
            }
          }

          & th {
            background: $mossgreen;
            color: $white;
            padding: 8px 14px;
            text-align: center;
            border-right: 1px solid #ddd;

            @include sp {
              padding: 8px 0;
            }

            &:last-of-type {
              border: none;
            }

            &.time {
              width: 23.5%;
              padding: 8px 24px;
              border-radius: 6px 0 0 0;

              @include sp {
                padding: unset;
                vertical-align: middle;
              }
            }

            &.right_top {
              border-radius: 0 6px 0 0;
            }
          }

          & td {
            color: $mossgreen;
            line-height: 20.27px;
            padding: 4px 0 8px;
            border-right: 1px solid #ddd;

            @include sp {
              padding: 2px 0;
            }

            &:last-of-type {
              border: none;
            }

            &.left_bottom {
              border-radius: 0 0 0 6px;
            }

            &.right_bottom {
              border-radius: 0 0 6px 0;
            }

          }
        }
      }

      & .btn_green {
        margin-bottom: 2.5rem;
      }

      &__image {
        width: 49.6%;

        @include sp {
          width: 100%;
        }
      }
    }
  }
}

.footer {
  background: $lightgreen;

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73.8%;
    height: 7.67rem;
    margin: 0 auto;
    align-items: center;
    gap: 47px;

    @include sp {
      display: block;
      width: 100%;
      height: unset;
      padding: 40px 0;
    }

    &__logo {
      @include sp {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 2.5rem;
        text-align: center;
      }
    }

    &__menu {
      &__nav ul {
        display: flex;
        gap: 26px;

        @include sp {
          display: block;
          width: 50%;
          margin: 0 auto;
          text-align: center;

          & li {
            color: $darkgreen;
            line-height: 2.25rem;
            margin-bottom: 1rem;

            &:last-of-type {
              margin: 0;
            }
          }
        }
      }
    }
  }

  &__link {
    position: fixed;
    right: 2.125rem;
    bottom: 8rem;
    z-index: 2;

    @include sp {
      width: 3rem;
      height: 3rem;
      right: 1.125rem;
      bottom: 4.875rem;
    }

    & a {
      // position: absolute;
      // right: 2.125rem;
      // top: -1.812rem;

      @include sp {
        top: 21.75rem;
        right: 1.125rem;

      }
    }
  }

  &__copyright {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #468459;

    & p {
      font-size: 12px;
      line-height: 17.38px;
      color: $white;
    }
  }
}

.breadcrumb {
  height: 4rem;
  margin-left: 11.8%;

  @include sp {
    height: 2.75rem;
    margin-left: 5%;
  }

  &__wrap {
    & p {
      padding: 1.5rem 0 1.25rem;
      color: rgba(0, 0, 0, 0.87);
      font-size: 0.875rem;
      line-height: 1.26rem;

      @include sp {
        padding: 0.625rem 0 0.875rem;
        white-space: nowrap;
        overflow: scroll;
      }

      & span {
        margin-right: 4.5px;

        & span.current-item {
          color: $darkgreen;
        }
      }

      & .arrow {
        font-weight: 700;
        line-height: 1.19rem;
        padding: 0 2.5px;
      }
    }
  }
}

.flow {
  padding: 7.5rem 0;
  position: relative;
  overflow-x: clip;

  @include sp {
    padding: 3.25rem 0;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 27.5rem;
    height: 21rem;
    right: -3.56rem;
    bottom: 1.625rem;
    background-image: url(../image/BGicon_Light.png);
    background-size: contain;
    display: block;

    @include sp {
      display: none;
    }
  }

  & .concept__wrap {
    &__img {
      margin-top: 0;
    }

    &__content {
      &__subtitle {
        &::before {
          content: "Flow";
          top: 1.43rem;

          @include sp {
            top: -1.43rem;
          }
        }
      }

      &__des {
        margin-top: 6.75rem;

        @include sp {
          margin-top: 2rem;
          margin-bottom: 0;
        }

        & ol {
          & li {
            line-height: 1.4rem;
            font-size: 1rem;
            margin-bottom: 1.4rem;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.point {
  width: 82.5%;
  margin: 0 auto;
  padding: 3.875rem 0 0 0;
  margin-bottom: 0.937rem;

  @include sp {
    width: 90%;
    padding: 2rem 0 0 0;
  }

  & .head2 {
    margin-bottom: 4rem;

    @include sp {
      margin: 0 1rem 2rem;
    }

    & p {
      width: 100%;

      @include sp {
        margin-bottom: 1.46rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &__wrap {
    margin-bottom: 7.5rem;

    @include sp {
      margin-bottom: 5rem;
    }

    & ul {
      display: flex;
      justify-content: space-between;

      @include sp {
        display: unset;
      }

      & li {
        & img {
          margin-bottom: 2rem;
          border-radius: 1rem;

          @include sp {
            height: 100%;
            margin-bottom: 1rem;
          }
        }

        & p {
          font-size: 1.5rem;
          line-height: 1.5rem;
          font-weight: 700;
          text-align: center;
          margin-bottom: 5.125rem;

          @include sp {
            font-size: 1.125rem;
            line-height: 1.63rem;
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}

.courseprise {
  padding: 4rem 0;
  background: #fafafa;

  @include sp {
    padding: 0.99rem 0 0;
  }

  & .course {
    &__headline {
      &::before {
        display: none;
      }
    }

    &__wrap {
      padding-bottom: 0;

      &::before,
      &::after {
        display: none;
      }

      &__contents {
        margin-bottom: unset;

        &__block {
          padding-bottom: 2rem;

          &__list {
            line-height: 1.53rem;
          }
        }
      }
    }
  }
}

.insurance {
  @include sp {
    padding: 2rem 1rem 2.06rem;
  }

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 3.75rem;
    padding-top: 60px;

    @include sp {
      display: block;
      padding-top: unset;
    }

    &__content {
      width: 30%;
      margin-left: 16.7%;
      margin-top: 1.81rem;

      @include sp {
        width: 100%;
        margin: unset;
      }

      &__text {
        & p {
          line-height: 1.4rem;
          margin-bottom: 2rem;
        }

        & ul {
          margin-bottom: 3.75rem;

          @include sp {
            margin-bottom: unset;
          }

          & li {
            line-height: 1.4rem;
            padding-bottom: 5px;
            margin-bottom: 12px;

            @include sp {
              margin-left: 1rem;

              &:last-child {
                margin-bottom: 0;
              }

            }
          }
        }

        &__price {
          & p {
            margin-bottom: 0;

            @include sp {
              margin-bottom: 1.4rem;

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    &__img {
      width: 40.6%;
      position: relative;

      @include sp {
        width: 100%;
        margin-bottom: 2rem;
      }

      & img {
        border-radius: 1.5rem;

        @include sp {
          max-height: 10rem;
        }
      }
    }
  }
}

.selfpay {
  margin-bottom: 140px;

  @include sp {
    padding: 2rem 1rem 2.06rem;
    margin-bottom: 3rem;
  }

  & .insurance__wrap__content__text ul {
    margin-bottom: 2rem;
  }

  & .insurance__wrap__content__text__price {
    margin-bottom: 3.75rem;

    @include sp {
      margin-bottom: unset;
    }
  }
}

.page_wrapper {
  width: 76.25%;
  margin: 2rem auto;
  position: relative;

  @include sp {
    width: 100%;
    display: block;
  }
}

.information {
  width: 77%;

  @include sp {
    width: 90%;
    margin: 0 auto;
  }

  &__wrap {
    margin-bottom: 2rem;

    @include sp {
      margin-bottom: 2.5rem;
    }

    &__content {
      display: flex;
      gap: 2rem;
      margin-bottom: 4rem;

      &:last-child {
        margin-bottom: 0;
      }

      @include sp {
        display: block;
        margin-bottom: 2.5rem;
      }

      &__img {
        @include sp {
          margin-bottom: 1rem;
        }

        & img {
          width: 20rem;
          height: auto;
          border-radius: 1rem;

          @include sp {
            width: 100%;
          }
        }
      }

      &__txt {
        &__ttl {
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 2.171rem;
          margin-bottom: 1rem;
          margin-right: 2rem;

          @include sp {
            font-size: 1.125rem;
            line-height: 1.63rem;
            margin-right: 0;
          }
        }

        &__info {
          &.news__wrap__detail__info {
            @media screen and (max-width: 970px) {
              display: flex;
              align-items: center;
              width: 100%;
            }

            & .news__wrap__detail__info__date {
              font-size: 1.125rem;
              line-height: 1.575rem;
              margin-right: 1.875rem;
              margin-bottom: 0;
            }

            & .tag_date {
              width: 5.5rem;
            }
          }
        }
      }
    }

    &__pagenation {
      padding-bottom: 20.81rem;

      @include sp {
        padding-bottom: 2rem;
      }

      & ul {
        display: flex;
        justify-content: center;
        gap: 2px;

        & li {
          font-weight: 500;
          line-height: 1.45rem;
          text-align: center;
          color: $mossgreen;

          & .page-numbers {
            padding: 0 7px 1px;
          }

          & span.current {
            background: $mossgreen;
            color: $white;
          }
        }
      }
    }
  }
}

.sidebar {
  width: 16.4%;
  position: absolute;
  top: 0;
  right: 0;

  @include sp {
    position: unset;
    width: 90%;
    margin: 2rem 1rem;
    padding-bottom: 3rem;
  }

  & h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    color: $darkgreen;

    @include sp {
      font-size: 1.125rem;
      line-height: 1.125rem;
    }
  }

  & ul {
    & li {
      font-size: 1.125rem;
      line-height: 1.58rem;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.singlepage {
  width: 77%;
  margin-bottom: 16.25rem;

  @include sp {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  &__wrap {
    &__ttlarea {
      margin-bottom: 1.5rem;

      @include sp {
        margin-bottom: 2rem;
      }

      &__ttl {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
        font-weight: 700;
        color: $darkgreen;

        @include sp {
          font-size: 1.5rem;
          line-height: 2.22rem;
          margin-bottom: 1rem;
        }
      }

      &__info {
        &.news__wrap__detail__info {
          @include sp {
            display: flex;
            align-items: center;
            width: 100%;

            & .tag_date {
              width: 5.5rem;
            }
          }
        }

        & .news__wrap__detail__info__date {
          font-size: 1.125rem;
          line-height: 1.575rem;
          margin-right: 1.875rem;
          margin-bottom: 0;
        }

      }
    }

    &__content {
      margin-bottom: 3.75rem;

      @include sp {
        margin-bottom: 2rem;
      }

      &__thumbnail {
        width: 100%;
        margin-bottom: 1.5rem;

        @include sp {
          margin-bottom: 2rem;
        }

        & img {
          border-radius: 1rem;
          max-height: 20rem;
          object-fit: cover;

          @include sp {
            max-height: 11.25rem;
          }
        }
      }

      &__text {
        & p {
          font-size: 1rem;
          line-height: 1.4rem;
          margin-bottom: 1.5rem;
        }

        & h2 {
          font-weight: 700;
          font-size: 2rem;
          line-height: 2rem;
          margin-bottom: 1.5rem;
          color: $darkgreen;

          @include sp {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2.22rem;
            margin-bottom: 1rem;
          }
        }

        & h3 {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.5rem;
          margin-bottom: 1.5rem;
          color: $darkgreen;

          @include sp {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2.22rem;
            margin-bottom: 1rem;
          }

        }

        & h4 {
          font-size: 1.125rem;
          font-weight: 700;
          line-height: 1.125rem;
          color: $darkgreen;
          margin-bottom: 1.5rem;

          @include sp {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2.22rem;
            margin-bottom: 1rem;
          }
        }
      }
    }

    &__pagenation {
      & ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        @include sp {
          gap: 1rem;
        }

        & li {
          display: flex;
          align-items: center;
          font-size: 1.125rem;
          line-height: 1.58rem;

          @include sp {
            font-size: 1rem;
            line-height: 1.4rem;
          }

          &:first-child {
            &::before {
              content: url(../image/arrow_lt.png);
              margin-right: 0.5rem;
              padding: 3px;
            }
          }

          &:last-child {
            &::after {
              content: url(../image/arrow_gt.png);
              margin-left: 0.5rem;
              padding: 3px;
            }
          }
        }
      }
    }
  }
}

.voicelist {
  padding: 4rem 0 5.5rem;
  margin-bottom: 8.93rem;

  @include sp {
    padding: 2rem 0;
    margin-bottom: 4.25rem;
  }

  &__wrap {
    width: 67.8vw;
    position: relative;
    left: 11.8vw;

    @include sp {
      width: 90%;
      margin: 0 auto;
      position: static;
      margin-bottom: 2rem;
    }

    & li {
      display: flex;
      gap: 3rem;
      margin-bottom: 4rem;

      @include sp {
        display: block;
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__img {
      @include sp {
        text-align: center;
        margin-bottom: 1rem;
      }

      & img {
        border-radius: 50%;
        width: 11.25rem;
        height: 11.25rem;
      }
    }

    &__content {
      & h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
        font-weight: 700;
        color: $darkgreen;

        @include sp {
          text-align: center;

        }
      }

      & p {
        line-height: 1.4rem;
      }
    }
  }

  & .information__wrap__pagenation {
    padding-bottom: unset;
  }
}

.contact {
  padding: 2rem 0 5rem;
  margin-bottom: 8.75rem;

  @include sp {
    padding-bottom: 2rem;
    margin-bottom: 3rem;
  }

  &__wrap {
    width: 76.25%;
    margin: 0 auto;

    @include sp {
      width: 90%;
    }

    &__head {
      margin-bottom: 1.5rem;

      & h3 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.17rem;
        margin-bottom: 0.8rem;
        color: $darkgreen;

        @include sp {
          padding-right: 1px;
        }
      }

      & p {
        line-height: 1.4rem;
        margin-bottom: 1.375rem;
      }

      &-green {
        font-weight: 700;
        line-height: 2.11rem;
        font-size: 1.5rem;
        color: $darkgreen;

        & span {
          font-size: 1rem;
          line-height: 1.4rem;
          color: $black;
        }
      }

    }

    &__content {
      width: 77.3%;

      @include sp {
        width: 100%;
      }

      & h3 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.17rem;
        margin-bottom: 1.5rem;
        color: $darkgreen;

        @include sp {
          padding-right: 1.56rem;
        }
      }

      & p {
        font-size: 1.125rem;
        line-height: 1.575rem;
        margin-bottom: 1.5rem;
      }

      div.wpforms-container-full .wpforms-field-label {
        font-weight: 700;
        line-height: 1.45rem;
        margin-bottom: 1rem;
        color: $black;
      }

      div.wpforms-container-full label[for="wpforms-72-field_3"] {
        &::after {
          content: "半角";
          font-size: 0.875rem;
          line-height: 1.26rem;
          margin-left: 0.5rem;
          @include sp {
            font-size: 0.75rem;
            line-height: 1.08rem;
          }
        }
      }

      div.wpforms-container-full label[for="wpforms-72-field_4"] {
        &::after {
          content: "半角英数字";
          font-size: 0.875rem;
          line-height: 1.26rem;
          margin-left: 0.5rem;
          @include sp {
            font-size: 0.75rem;
            line-height: 1.08rem;
          }
        }
      }

      div.wpforms-container-full .wpforms-required-label {
        display: none;
      }

      div.wpforms-container-full input[type=date],
      div.wpforms-container-full input[type=datetime],
      div.wpforms-container-full input[type=datetime-local],
      div.wpforms-container-full input[type=email],
      div.wpforms-container-full input[type=month],
      div.wpforms-container-full input[type=number],
      div.wpforms-container-full input[type=password],
      div.wpforms-container-full input[type=range],
      div.wpforms-container-full input[type=search],
      div.wpforms-container-full input[type=tel],
      div.wpforms-container-full input[type=text],
      div.wpforms-container-full input[type=time],
      div.wpforms-container-full input[type=url],
      div.wpforms-container-full input[type=week],
      div.wpforms-container-full select,
      div.wpforms-container-full textarea {
        border-radius: 0;
        display: block;
        line-height: 1.36rem;
        padding: 0.63rem 0 0.63rem 0.63rem;
        border: 1px solid rgba(0, 0, 0, 0.36);
        width: 100%;
        margin-top: 1rem;
        &::placeholder {
          color: rgba(0, 0, 0, 0.36);
          opacity: 1;
        }
      }

      div.wpforms-container-full select {
        &:invalid {
          color: rgba(0, 0, 0, 0.36);
        }

        & option {
          color: $black;

          &:first-child {
            color: rgba(0, 0, 0, 0.36);
          }
        }
      }


      div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
        height: 8.75rem;
      }

      div.wpforms-container-full button[type=submit]:not(:hover):not(:active).btn_green, div.wpforms-container-full button[type=submit]:hover.btn_green {
          display: block;
          width: 300px;
          text-align: center;
          background: $green;
          color: $white;
          font-weight: 700;
          line-height: 1.448rem;
          border-radius: 4px;
          margin: 0 auto;
          font-size: 0.875rem;
          width: 32%;
          @include sp {
            width: 100%;
            font-size: 0.875rem;
            line-height: 0.875rem;
            padding: 0.875rem 0;
          }
      }

      div.wpforms-container-full select, div.wpforms-container-full select:disabled {
        // background: none;
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          background-image: url(../image/arrow_gt.png);
          position: absolute;
          width: 0.875rem;
          height: 0.875rem;
          top: 0.9rem;
          right: 1.18rem;
          background-repeat: no-repeat;
          background-size: contain;
          transform: rotate(90deg);
        }
      }

      & .wpforms-container-full {
        & #wpforms-form-72 {
          & .wpforms-field-container {
            & .wpforms-field {
              padding: unset;
              margin-bottom: 3rem;
              & .contact__wrap__content__form__list {
                margin-bottom: 3rem;
              }


            }
          }
        }
      }

      div.wpforms-container-full select, div.wpforms-container-full select:disabled {
        background-image:url(../image/arrow_down.png);
        background-position: center right 1.18rem;
        background-repeat: no-repeat;
        background-size: 0.875rem 0.875rem;
      }
    }
  }
}

//       &__form {
//         &__list {
//           margin-bottom: 3rem;

//           & label {
//             font-weight: 700;
//             line-height: 1.45rem;
//             margin-bottom: 1rem;

//             &[for=telnum],
//             &[for=mail] {
//               & span {
//                 font-size: 0.875rem;
//                 line-height: 1.26rem;
//                 margin-left: 0.5rem;
//               }
//             }
//           }

//           & input,
//           select,
//           textarea {
//             display: block;
//             line-height: 1.36rem;
//             padding: 0.63rem 0 0.63rem 0.63rem;
//             border: 1px solid rgba(0, 0, 0, 0.36);
//             width: 100%;
//             margin-top: 1rem;

//             &::placeholder {
//               color: rgba(0, 0, 0, 0.36);
//             }
//           }

//           & select {
//             &:invalid {
//               color: rgba(0, 0, 0, 0.36);
//             }

//             & option {
//               color: $black;

//               &:first-child {
//                 color: rgba(0, 0, 0, 0.36);
//               }
//             }
//           }

//           & textarea {
//             height: 8.75rem;
//           }

//           &-arrow {
//             position: relative;

//             &::before {
//               content: "";
//               display: inline-block;
//               background-image: url(../image/arrow_gt.png);
//               position: absolute;
//               width: 0.875rem;
//               height: 0.875rem;
//               top: 0.9rem;
//               right: 1.18rem;
//               background-repeat: no-repeat;
//               background-size: contain;
//               transform: rotate(90deg);
//             }
//           }
//         }

//         & .btn_green {
//           margin: 0 auto;
//           font-size: 0.875rem;
//           padding: 0.8125rem 0 0.9375rem;
//           width: 32%;

//           @include sp {
//             width: 100%;
//           }
//         }
//       }
//     }
//   }


// }

.thanks {
  &__wrap {
    width: 58.75%;
    padding: 2rem 0 10.125rem;
    margin: 0 auto 8.25rem;

    @include sp {
      width: 90%;
      padding-bottom: 4rem;
      margin: 0 auto 3rem;
    }

    &__message {
      border: 1px solid #ccc;
      text-align: center;
      padding: 3.875rem;

      @include sp {
        padding: 1rem;
      }

      & h3 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.17rem;
        margin-bottom: 1.5rem;
        color: $darkgreen;

        @include sp {
          margin-bottom: 1rem;
        }
      }

      & p {
        font-weight: 500;
        line-height: 1.44rem;
        margin-bottom: 2rem;
        opacity: 0.6;

        @include sp {
          letter-spacing: -0.6px;
        }
      }

      & .btn_green {
        margin: 0 auto;
      }
    }
  }
}